.listaDesordenada__container {
  width    : 100%;
  max-width: 75rem;
  margin   : 0 auto;
}

.listaDesordenada__internalContainer {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  margin        : 0;
  padding-right : 10px;
}

.listaDesordenada__paddingPrimer {
  padding-left: 60px;
}

.listaDesordenada__paddingSegundo {
  padding-left: 100px;
}

@media screen and (max-width: 1300px) {
  .listaDesordenada__container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .listaDesordenada__paddingPrimer {
    padding-left: 40px;
  }
  .listaDesordenada__paddingSegundo {
    padding-left: 80px;
  }
}

@media screen and (max-width: 640px) {
  .listaDesordenada__container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .listaDesordenada__paddingPrimer {
    padding-left: 30px;
  }
  .listaDesordenada__paddingSegundo {
    padding-left: 70px;
  }
}

