.subtitulo__container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.subtitulo__text {
  margin: 0;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}


@media screen and (max-width: 1300px) {
  .subtitulo__container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .subtitulo__text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 640px) {
  .subtitulo__container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .subtitulo__text {
    padding-left: 10px;
    padding-right: 10px;
  }
}
